<!DOCTYPE html>
<html>
<head>
  <title>AWillAndAWay</title>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCvcXthYJhbAmJZUvD6Fnn5HQO-e6aqvVU" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>
  <script type="text/javascript">
    window.CLOUDINARY_OPTIONS = {
      cloud_name: '<%= ENV['CLOUD_NAME']%>',
      upload_preset: '<%= ENV['UPLOAD_PRESET']%>',
      sources: ['local'],
      theme: 'minimal'
    };
  </script>
  <script type="text/javascript">
  
</script>
</head>
<body>

<%= yield %>

</body>
</html>
