<!DOCTYPE html>
<html>
<head>
  <title>AWillAndAWay</title>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyD0YvePwLmxe5tZ2EVosXebF0g_VqfCNRE" %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>
  <script type="text/javascript">
    window.CLOUDINARY_OPTIONS = {
      cloud_name: '<%= ENV['CLOUD_NAME']%>',
      upload_preset: '<%= ENV['UPLOAD_PRESET']%>',
      sources: ['local'],
      theme: 'minimal'
    };
  </script>
  <script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render("api/users/user.json.jbuilder",
    user: current_user).html_safe %>
<% end %>
</script>

<link rel="icon"
    type="image/png"
    href="http://res.cloudinary.com/dfld7chk4/image/upload/v1467517608/featheredhands-transparent-final_tns0sn.png">

</head>
<body>


<%= yield %>

</body>
</html>
